.sticky-right,
.sticky-left {
  position: sticky;
}
.sticky-right {
  right: 0;
}
.sticky-left {
  left: 0;
}
.pointer {
  cursor: pointer;
}
.max-h-500 {
  max-height: 500px;
}

* {
  scrollbar-width: thin;
}